
ul#log{
	font-family: monospace, monospace;
	margin: auto;
	white-space: pre-wrap;
	padding: 0;
}
ul#log > li {
	list-style: none;
    display: block;
    min-height: 23px;
    white-space: pre-wrap;
	word-wrap: break-word;
}

#download-info {
	position: relative;
	display: none;

	overflow: hidden;
}
#download-info.active{
	display: block;
}

#download-list{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.download-item{
	display: grid;
	gap: 10px;
	grid-template:
		"a . b" 1fr
		"c c c" 24px
		"d e f" 1fr / 33% 1fr 33%;
}

.download-item:not(:last-child){
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.download-item .filename,.download-item .downloaded,.download-item .elapsed,.download-item .speed,.download-item .eta{
	text-align: center;
	font-size: 1.1rem;
	padding: 5px;
}

.download-item .filename{grid-area: a;}
.download-item .downloaded{grid-area: b;}
.download-item .progress{grid-area: c;}
.download-item .elapsed{grid-area: d;}
.download-item .speed{grid-area: e;}
.download-item .eta{grid-area: f;}