/*#9FA8DA*/

html {
	color: rgba(255,255,255,0.9);
	background-color: #121212 !important;
}


.mainpage{
	overflow-x: hidden;
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

#log > li, #log span{
	list-style: none;
	display: block;
	min-height: 23px;
	white-space: pre-wrap;
	font-family: monospace, monospace;
}

/*.dark{
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
}*/

.dark.collapsible-body, .dark.collapsible-header{
	background-color: #242424 !important;
	border-color: #121212 !important;
	color: rgba(255,255,255,0.5) !important;
	position: relative;
}

/*### DELETE BUTTON ######*/

.header-anime{
	position: relative;
}

.btn-floating-delete i{
	width: inherit !important;
	margin-right: 0;
	line-height: 30px;
	color: rgba(255,255,255,0.5) !important;
}

.btn-floating-delete:hover i{
	color: #9FA8DA !important;
}

.btn-floating-delete{
	background-color: #242424 !important;
	border-radius: 10%;
	width: 30px;
	height: 30px;
	box-shadow: 0 0 10px 0px #121212;
	border: none;
	display: inline-block;
	padding: 0;
	cursor: pointer;
	text-align: center;
}


.delete-btn{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(40%, -50%);
	display: block;
	margin: 0;
}

/*######################*/

.indicator{
	background-color: rgba(255,255,255,0.1) !important;
}

.active{
	background-color: rgba(0, 0, 0, 0) !important;
}

.dark.tabs, .dark.collection-item{
	background-color: rgba(0,0,0,0) !important;
	border-color: rgba(0,0,0,0) !important;
	color: rgba(255,255,255,0.5) !important;
}

.tabs a{
	color: #9FA8DA !important;
	border-color: rgba(0,0,0,0) !important;
}

.dark.collection-item:hover{
	color: #9FA8DA !important;
}

.dark.tabs a:hover{
	background-color: rgba(159, 168, 218, 0.2) !important;
}

/*#################################*/
nav.dark{
	background-color: #212121 !important;
}

footer.dark{
	background-color: rgba(0, 0, 0, 0) !important;
	bottom: 0;
	left: 0;
	width: 100%;

}

.dark.brand-logo{
	color: rgba(255,255,255,0.8) !important;
}

.dark.btn-floating, .dark.btn{
	background-color: #9FA8DA !important;
}

.dark.btn-flat{
	color: #9FA8DA;
	text-align: center !important;
	border-radius: 2px !important;
	border:1px solid #9FA8DA;
}

.dark.btn-flat:hover{
	background-color: rgba(159, 168, 218, 0.1) !important;
}

.dark.info{
	background-color: rgba(0,0,0,0) !important;
	margin: 6px;
}

.dark.info i{
	color: rgba(255,255,255,0.8) !important
}

/*##########################*/

.dark .modal-content, .dark .modal-footer, .modal {
	background-color: #2c2c2c !important;
	border-color: #2c2c2c !important;
	color: rgba(255,255,255,0.5);
}

input::placeholder, .dark.helper-text{
	color: rgba(255,255,255,0.4);
}

input{
	color: rgba(255,255,255,0.8);
}


/* label focus color */
input[type=text]:focus + label {
 color: #9FA8DA !important;
}

/* label underline focus color */
input[type=text]:focus {
	border-bottom: 1px solid #9FA8DA !important;
	box-shadow: 0 1px 0 0 #9FA8DA !important;
}

.dark.material-icons.prefix.active{
	color: #9FA8DA !important;
}

/*#########################*/

.modal-content > .row {
	display: flex;
  	align-items: baseline;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after{
	top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #9FA8DA;
    background-color: #9FA8DA;
    z-index: 0;
}

.dropdown-content li:hover,
.dropdown-content{
	background-color: #242424 !important;
}

.dropdown-content li>a, .dropdown-content li>span{
	color: #9FA8DA;
}

.tap-target{
	background-color: #9FA8DA !important;
}

@media only screen and (min-width: 600px) {
	.tap-target-wrapper{
		position: absolute !important;
		top: -336px !important;
		right: -348px !important;
	}
}

.tap-target-wave::before, .tap-target-wave::after {
	background-color: #2c2c2c !important;
}

span.badge.new {
	background-color: #9FA8DA !important;
	margin-right: 20px;
}



/*### OTHER ###*/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #2c2c2c;
  /*-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);*/
}

/* SETTINGS  */

.dark.card{
	background-color: #242424 !important;
	border-color: #121212 !important;
	color: rgba(255,255,255,0.5) !important;
}

.dark-back.card{
	background-color: #212121 !important;
	border-color: #121212 !important;
	color: rgba(255,255,255,0.5) !important;
}

.card .card-image img{
	max-height: 84px !important;
	object-fit: cover;
}

[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:before, 
[type="radio"].with-gap:checked+span:after {
	border-color: #9FA8DA !important;
}

[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:after,
.switch label input[type=checkbox]:checked+.lever{
	background-color: #b2b9e1 !important;
}

.switch label input[type=checkbox]:checked+.lever:after,
.switch label .lever:after{
	background-color: #8f97c4 !important;
}

.switch label .lever:before{
	background-color: rgba(159, 168, 218, 0.2) !important;
}

input[type=range]{
	border: 1px solid rgba(0,0,0,0.1) !important;
	position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    margin: 15px 0;
    padding: 0;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #8f97c4;
}
input[type=range]::-moz-range-thumb {
background-color: #8f97c4;
}
input[type=range]::-ms-thumb {
background-color: #8f97c4;
}

/***** These are to edit the thumb and the text inside the thumb *****/
input[type=range] + .thumb {
background-color: #9FA8DA !important;
}