/*#9FA8DA*/

html {
	color: rgba(255,255,255,0.9);
	background-color: #121212 !important;
}

body{
	height: 100vh;
}

.mainpage{
	overflow-x: hidden;
	position: relative
}

/*.dark{
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
}*/

.dark.collapsible-body, .dark.collapsible-header{
	background-color: #242424 !important;
	border-color: #121212 !important;
	color: rgba(255,255,255,0.5) !important;
}

.indicator{
	background-color: rgba(255,255,255,0.1) !important;
}

.active{
	background-color: rgba(0, 0, 0, 0) !important;
}

.dark.tabs, .dark.collection-item{
	background-color: rgba(0,0,0,0) !important;
	border-color: rgba(0,0,0,0) !important;
	color: rgba(255,255,255,0.5) !important;
}

.tabs a{
	color: #9FA8DA !important;
	border-color: rgba(0,0,0,0) !important;
}

.dark.collection-item:hover{
	color: #9FA8DA !important;
}

.dark.tabs a:hover{
	background-color: rgba(159, 168, 218, 0.2) !important;
}

/*#################################*/
nav.dark{
	background-color: #212121 !important;
}

.dark.brand-logo{
	color: rgba(255,255,255,0.8) !important;
}

.dark.btn-floating, .dark.btn{
	background-color: #9FA8DA !important;
}

/*##########################*/

.dark .modal-content, .dark .modal-footer, .modal {
	background-color: #2c2c2c !important;
	border-color: #2c2c2c !important;
	color: rgba(255,255,255,0.5);
}

input::placeholder, .dark.helper-text{
	color: rgba(255,255,255,0.4);
}

input{
	color: rgba(255,255,255,0.8);
}


/* label focus color */
.input-field input[type=text]:focus + label {
 color: #9FA8DA !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #9FA8DA !important;
	box-shadow: 0 1px 0 0 #9FA8DA !important;
}

.dark.material-icons.prefix.active{
	color: #9FA8DA !important;
}

/*#########################*/

.tap-target{
	background-color: #9FA8DA !important;
}

@media only screen and (min-width: 600px) {
	.tap-target-wrapper{
		position: absolute !important;
		top: -336px !important;
		right: -348px !important;
	}
}

.tap-target-wave::before, .tap-target-wave::after {
	background-color: #2c2c2c !important;
}

/*### OTHER ###*/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey;
  border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #2c2c2c;
  /*-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);*/
}