@use "sass:color";
@use "./colors" as *;

%input {
	position: relative;

    > input {
        background: transparent;
    }

	> input[type=text], > input[type=password], > input[type=email], > input[type=url], > input[type=number], > input[type=date], > input[type=datetime-local], > select {
		font-size: 1em;
        font-weight: 400;
		padding: 10px;
		border: 2px solid darken($text-color, 30%);
		color: $text-color;
		border-radius: 4px;
		width: calc(100% - 20px);
		outline: none;

		&:disabled{
			border-color: lighten($background-color, 5%);
		}

		&:invalid {
			border-color: color.mix($text-color, red, 65%);
		}

		&::placeholder{
			color: darken($text-color, 30%);
		}

		&:focus:not(:read-only){
			border-color: $base-color;
			+ label {color: $base-color;}
		}

		+ label {
			position: absolute;
			top: -10px;
			left: 20px;
			padding: 0 10px;
			font-size: 14px;
		}
	}

	> select {
		width: 100%;
	}

	> input[type=checkbox]{
		opacity: 0;
		width: 0;
		height: 0;
		margin: 0;

		+ label {
			user-select: none;
			cursor: pointer;
			font-size: 1em;

			&::before {
				font-weight: bold;
				margin-right: 10px;
				text-align: center;
				font-size: 15px;
				color: $base-color;
				width: 20px;
				height: 20px;
				display: inline-block;
				content: ' ';
				vertical-align: text-bottom;
				border-radius: 4px;
				border: 2px solid darken($text-color, 30%);
			}
		}

		&:checked + label::before {content: '✓';}
	}
}

fieldset {
	border: 2px solid darken($text-color, 30%);
	border-radius: 4px;

	> legend {
		padding: 0 10px;
	}

	> hr {
		width: 100%;
		border: 1px solid darken($text-color, 30%);
	}
}

button {
    padding: 5px;
    cursor: pointer;
    color: color.change($color: $text-color, $lightness: 40%);
    margin: 0;
    background-color: transparent;
    border: 2px solid color.change($color: $text-color, $lightness: 40%);
    border-radius: 4px;
    transition: color 200ms, border 200ms;
    font-size: 1em;

    &:hover {
        color: $base-color;
        border-color: $base-color;
    }
}