@use "sass:color";
@use 'global' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
	color-scheme: dark;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: $background-color;
	color: $text-color;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

a{
	color: rgba(255,255,255,0.5);
	text-decoration: none;
	width: fit-content;
	margin: 10px;
}
a:active, a:visited{
	color: rgba(255,255,255,0.5);
}
a:hover{
	color: $base-color;
}