@use "sass:color";
@use '@/styles/index' as *;

details {
    user-select: none;
    background-color: elevation(1);
    margin: 0 30px;
    transition: margin 0.1s;

    &[open] {
        background-color: elevation(2);
        border-bottom: 1px solid $background-color;
        margin: 30px 0;
        border-radius: 4px;

        >summary {
            box-shadow: 0px 1px 2px -1px black;
        }
    }

    >summary {
        cursor: pointer;
        color: $text-color;
        font-size: 1rem;
        font-weight: 400;
        padding: 15px;
        border-bottom: 1px solid $background-color;
        transition: box-shadow 0.5s;
        transition: color 0.2s;
        display: flex;
        align-items: center;

        >i {
            padding-right: 5px;
        }

        &::marker {
            content: none;
        }

        &:hover {
            color: $base-color;
        }
    }

    >ul {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        font-size: 16px;
        display: flex;
	    justify-content: flex-start;
        border-bottom: 2px solid color.change($color: $text-color, $lightness: 40%);
        list-style-type: none;

        > li {
            padding: 10px 50px;
            cursor: pointer;
            border-bottom: 2px solid color.change($color: $text-color, $lightness: 40%);
            margin: 0 0 -2px 0;
	        transition-property: color, border;
	        transition-duration: 0.3s;
            text-align: center;

            &:hover {
                color: $base-color;
            }

            &.active {
                color: $base-color;
                border-bottom: 2px solid $base-color;
            }

            >button{
                padding: 0;
                margin: -2px;
                border: 0;
            }
        }

        + section>* {
            display: block;
            
            margin: 20px;
            width: calc(100% - 40px);
        }
    }

    form {
        display: inline;
        flex-grow: 1;
        @extend %input;
    }
}