<!DOCTYPE html>
<html lang="it">
	<head>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="UTF-8">
		<meta name="description" content="{{ self.title() }}">
		<meta name="author" content="MainKronos">
		

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		
		<link rel="stylesheet" type="text/css" href="static/css/index.css" media="screen,projection"/>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>

		<!-- <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script> -->

		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


		<!-- Don't use this in production: -->
		<!-- <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script> -->

		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>

		
		<header>
			{% block header %}
			<h1>{{ self.title() }}</h1>
			<a class="btn" id="donate" href="https://github.com/sponsors/MainKronos" target="_blank">&#xe87d;</a>
			{% endblock %}
		</header>
		
		<ul id="menu"></ul>
		
		{% block content %}
		{% endblock %}

		
		<footer>
			{% block footer %}
			<a href="https://github.com/MainKronos/Sonarr-AnimeDownloader/releases/tag/{{ version }}" target="_blank">Ver. {{ version }}</a>
			{% endblock %}
		</footer>
		
		
		{% block script %}
		<script type="text/javascript" src="static/js/base/nav.js"></script>
		{% endblock %}

	</body>
</html>