<!DOCTYPE html>
<html lang="it">
	<head>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="UTF-8">
		<meta name="description" content="{{ self.title() }}">
		<meta name="author" content="MainKronos">

		<link rel="stylesheet" type="text/css" href="static/css/index.css" media="screen,projection"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>

		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>

		
		<header>
			{% block header %}
			<h1>{{ self.title() }}</h1>
			{% endblock %}
		</header>
		
		
		{% block content %}
		{% endblock %}

		
		<footer>
			{% block footer %}
			<a href="https://github.com/MainKronos/Sonarr-AnimeDownloader/releases/tag/{{ version }}" target="_blank">Ver. {{ version }}</a>
			{% endblock %}
		</footer>
		
		
		{% block script %}
		{% endblock %}

	</body>
</html>