{% extends "base.html" %}

{% block title %}Tabella Di Conversione{% endblock %}

{% block header %}
	<button class="btn" id="nav">&#xe5d2;</button>
	{{ super() }}
{% endblock %}


{% block content %}
	<div id="toast">some text...</div>

	<nav>
		<div class="nav-overlay"></div>
		<div class="nav-content">
			<a>Home</a>
			<a href="settings">Settings</a>
			<a href="log">Log</a>
		</div>
	</nav>


	<div class="modal" id="add-anime-modal">
		<div class="modal-overlay"></div>
		<form class="modal-content">
			<div class="content">
				<input type="text" name="title" id="title" placeholder="Sword Art Online" required>
				<label for="title">Nome Anime</label>
			</div>
			<div class="content">
				<input type="number" name="season" id="season" placeholder="1" min="0" step="1" required>
				<label for="season">Stagione</label>
				
			</div>
			<div class="content">
				<label for="absolute" class="checkbox">
					<input type="checkbox" id="absolute" name="absolute" value="false">
					Absolute
					<span></span>
				</label>
			</div>
			<div class="content">
				<input type="text" name="link" id="link" placeholder="https://www.animeworld.tv/play/sword-art-online.N0onT" pattern="^https:\/\/www\.animeworld\.tv\/play\/.+" required>
				<label for="link">Link</label>
			</div>
			<button type="reset" id="clear" class="btn">CLEAR</button>
			<button type="submit" id="submit" class="btn">SUBMIT</button>
		</form>
	</div>


	<div class="container">
		<button class="btn" id="add-anime" type="button">&#xe145;</button>
		<div id="root"></div>
		<section class="bottom">
			<a class="btn" id="export" href="/ie/table" target="_blank">&#xf090;</a>
			<label for="import" class="btn">
				<input id="import" type="file" accept=".json">&#xe2c6;
			</label>
		</section>
	</div>
{% endblock %}

{% block script %}
	{{ super() }}
	<script type="text/javascript">
		fetch('https://api.github.com/repos/MainKronos/Sonarr-AnimeDownloader/releases')
		.then(response => response.json())
		.then(data => {
			if(data[0].name != '{{ version }}'){
				showToast(`È disponibile una nuova versione del container (${data[0].name})`);
			}
		});
	</script>
	<script type="text/javascript" src="static/js/index/table.js"></script>
	<script type="text/javascript" src="static/js/index/elems.js"></script>
{% endblock %}