{% extends "base.html" %}

{% block title %}Tabella Di Conversione{% endblock %}

{% block header %}
	<button class="btn" id="nav">&#xe5d2;</button>
	{{ super() }}
{% endblock %}


{% block content %}
	<div id="toast">some text...</div>
	<ul id="menu"></ul>

	<nav>
		<div class="nav-overlay"></div>
		<div class="nav-content">
			<a>Home</a>
			<a href="settings">Settings</a>
			<a href="log">Log</a>
		</div>
	</nav>


	<div class="modal" id="add-anime-modal">
		<div class="modal-overlay"></div>
		<form class="modal-content">
			<div class="content">
				<input type="text" name="title" id="title" placeholder="Sword Art Online" required>
				<label for="title">Nome Anime</label>
			</div>
			<div class="content">
				<input type="number" name="season" id="season" placeholder="1" min="0" step="1" required>
				<label for="season">Stagione</label>
				
			</div>
			<div class="content">
				<label for="absolute" class="checkbox">
					<input type="checkbox" id="absolute" name="absolute" value="false">
					Absolute
					<span></span>
				</label>
			</div>
			<div class="content">
				<input type="text" name="link" id="link" placeholder="https://www.animeworld.tv/play/sword-art-online.N0onT" pattern="^https:\/\/www\.animeworld\.tv\/play\/.+" required>
				<label for="link">Link</label>
			</div>
			<button type="reset" id="clear" class="btn">CLEAR</button>
			<button type="submit" id="submit" class="btn">SUBMIT</button>
		</form>
	</div>


	<div class="container">
		<button class="btn add-anime" id="add-anime">&#xe145;</button>
		<div id="root"></div>
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript" src="static/js/table.js"></script>
	<script type="text/javascript" src="static/js/elems.js"></script>
	<script type="text/javascript" src="static/js/nav.js"></script>
{% endblock %}