{% extends "base.html" %}

{% block title %}Log{% endblock %}

{% block header %}
	<button class="btn" id="nav">&#xe5d2;</button>
	{{ super() }}
{% endblock %}

{% block content %}
	<nav>
		<div class="nav-overlay"></div>
		<div class="nav-content">
			<a href="/">Home</a>
			<a href="settings">Settings</a>
			<a>Log</a>
		</div>
	</nav>

	<div class="container">
		<div class="card">
			<div class="card-content">
				<ul id="log"></ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="static/js/nav.js"></script>
<script type="text/javascript" src="static/js/ansi.js"></script>
<script type="text/javascript" src="static/js/log.js"></script>
{% endblock %}