{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block header %}
	<button class="btn" id="nav">&#xe5d2;</button>
	{{ super() }}
{% endblock %}

{% block content %}
	<nav>
		<div class="nav-overlay"></div>
		<div class="nav-content">
			<a href="/">Home</a>
			<a>Settings</a>
			<a href="log">Log</a>
		</div>
	</nav>

	<div class="container">
		<div class="card">
			<div class="card-title">Settings</div>
			<div class="card-content" id="settings">

				<div class="content" style="grid-area: a;">
					<h2>Livello del Log</h2>
					
					<label for="debug" class="radio">
						<input type="radio" id="debug" name="LogLevel" value="DEBUG">
						DEBUG
						<span></span>
					</label>
					
					<label for="info" class="radio">
						<input type="radio" id="info" name="LogLevel" value="INFO">
						INFO
						<span></span>
					</label>

					<label for="warning" class="radio">
						<input type="radio" id="warning" name="LogLevel" value="WARNING">
						WARNING
						<span></span>
					</label>

					<label for="error" class="radio">
						<input type="radio" id="error" name="LogLevel" value="ERROR">
						ERROR
						<span></span>
					</label>

					<label for="critical" class="radio">
						<input type="radio" id="critical" name="LogLevel" value="CRITICAL">
						CRITICAL
						<span></span>
					</label>
				</div>

				<div class="content" style="grid-area: b;">
					<h2>Rinomina Episodi</h2>
					<label for="RenameEp" class="switch">
						Off
						<input type="checkbox" id="RenameEp" name="RenameEp" value="true">
						<span></span>
						On
					</label>
				</div>

				<div class="content" style="grid-area: c;">
					<h2>Sposta Episodi</h2>
					<label for="MoveEp" class="switch">
						Off
						<input type="checkbox" id="MoveEp" name="MoveEp" value="true">
						<span></span>
						On
					</label>
				</div>
				
				<div class="content" style="grid-area: d;">
					<h2>Auto Ricerca Link</h2>
					<label for="AutoBind" class="switch">
						Off
						<input type="checkbox" id="AutoBind" name="AutoBind" value="true">
						<span></span>
						On
					</label>
				</div>

				<div class="content" style="grid-area: e;">
					<h2>Intervallo Scan</h2>
					<input type="range" id="ScanDelay" name="ScanDelay" min="30" max="300" value="30" step="15">
					<label for="ScanDelay">30</label>
				</div>
			</div>
			<section class="bottom">
				<a class="btn" id="export" href="/ie/settings" target="_blank">&#xf090;</a>
				<label for="import" class="btn">
					<input id="import" type="file" accept=".json">&#xe2c6;
				</label>
			</section>
		</div>
		
		<div class="card">
			<div class="card-title">Variabili d'Ambiente</div>
			<div class="card-content">
				<table>
					<tr>
						<th>SONARR_URL</th>
						<td>{{ sonarr_url }}</td>
					</tr>
					<tr>
						<th>API_KEY</th>
						<td>{{ api_key }}</td>
					</tr>
					<tr>
						<th>CHAT_ID</th>
						<td>{{ chat_id }}</td>
					</tr>
					<tr>
						<th>BOT_TOKEN</th>
						<td>{{ bot_token }}</td>
					</tr>
					<tr>
						<th>VERSION</th>
						<td>{{ version }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="static/js/settings/settings.js"></script>
{% endblock %}