@use "sass:color";
@use '@/styles/index' as *;

.card {
    background-color: elevation(2);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    margin: 50px 30px;
    min-height: 100px;

    > h2,h3,h4,h5,h6 {
        &:first-of-type {
            border-radius: 4px 4px 0 0;
            font-weight: 400;
            padding: 1.3rem;
            border-bottom: 1px solid $base-color;
            background-color: elevation(1);
            box-shadow: 0px 1px 2px -1px black;
            margin: 0;
        }
        
    }
}